* {
  padding: 0;
  margin: 0;
  font-family: "Inter";
  box-sizing: border-box;
  cursor: default;
  color: #222222;
}

html {
  height: 100%;
  width: 100vw;
  font-size: 10px;
  overflow-x: hidden;
}

a:-webkit-any-link {
  text-decoration: none;
  cursor: pointer;
}

.app-container {
  height: 100%;
  width: 100vw;
  overflow-y: scroll;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.just-center {
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.border {
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.nav-container {
  height: 100vh;
  position: fixed;
  background-color: white;
}

.active {
  background-color: #f4ebff;
  color: #5c00dc;
}
.active svg rect {
  fill: #5c00dc;
}

.toggle-nav-btn {
  position: absolute;
  left: 29.5rem;
  top: 1.5rem;
  height: 35px;
  width: 35px;
  background: none;
  border: none;
  display: none;
}
.toggle-nav-btn:hover {
  cursor: pointer;
}
.toggle-nav-btn img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: transparent;
}
.toggle-nav-btn img:hover {
  cursor: pointer;
}

.close-btn {
  position: absolute;
  border: none;
  left: 24rem;
  top: 1.5rem;
  height: 35px;
  width: 35px;
  color: #5c00dc;
  font-size: 3rem;
  vertical-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 4px;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row-reverse;
  display: none;
}
.close-btn:hover {
  cursor: pointer;
  background-color: #cccccc;
  border: 1px solid #5c00dc;
}

nav {
  border-left: 0.1rem solid #cccccc;
  border-right: 0.1rem solid #cccccc;
  padding: 1.2rem 0.8rem 1.2rem 0.8rem;
  width: 21.5rem;
}
nav h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #000000;
  padding: 0.8rem 0.8rem 1.2rem 0.8rem;
}
nav h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 18px;
  padding: 0 0.8rem 1.2rem 0.8rem;
}
nav .search-container {
  padding: 0 0.8rem 1.2rem 0.8rem;
}
nav .search-container img {
  position: relative;
  top: 2rem;
  left: 1rem;
}
nav input {
  border-radius: 4px;
  background-color: #f5f5f5;
  padding: 0.4rem 0.4rem 0.4rem 3rem;
  border: none;
  width: 100%;
}
nav input:focus {
  outline: none;
}
nav input:hover {
  background: #e8e8e8;
}
nav ul {
  width: 100%;
  list-style-type: none;
}
nav ul li {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  height: 4rem;
  padding: 0.8rem 1.2rem;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #777777;
  border-radius: 8px;
}
nav ul li:hover {
  color: #5c00dc;
  cursor: pointer;
  transform: scale(1.1);
}
nav ul li:hover svg rect {
  fill: #5c00dc;
  cursor: pointer;
}
nav ul .sub-list {
  list-style-type: none;
  padding: 0.4rem 1.2rem 1.2rem 4.8rem;
}
nav ul .sub-list li {
  list-style-type: none;
  line-height: 1.4rem;
  padding: 0.8rem 0;
  height: 3rem;
}
nav ul .sub-list li:before {
  content: "";
  margin-right: 0.5rem;
}

.profile {
  padding: 1.2rem 0.8rem 1.2rem 0.8rem;
  align-items: center;
  width: 6.4rem;
}
.profile .event-img path:hover,
.profile .event-img rect:hover,
.profile svg path:hover,
.profile svg rect:hover {
  cursor: pointer;
}
.profile .event-img:hover,
.profile svg:hover {
  transform: scale(1.15);
  cursor: pointer;
}
.profile div {
  align-items: center;
  gap: 1rem;
}
.profile div .event-img {
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 4px;
}
.profile .profile-img {
  height: 3.2rem;
  width: 3.2rem;
}

.main-container {
  padding: 4rem 4.8rem;
  flex-grow: 1;
  margin-left: 29.4rem;
}

.title-container {
  border-bottom: 1px solid #cccccc;
}
.title-container h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.9rem;
}
.title-container p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  margin-top: 1.6rem;
  margin-bottom: 3.4rem;
}
.title-container .top-title {
  gap: 1.6rem;
  margin-bottom: 4rem;
}
.title-container .top-title img {
  width: 8.9rem;
  height: 8.9rem;
}
.title-container .top-title h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 3.9rem;
}
.title-container .top-title h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
}
.title-container .top-title .title-middle {
  flex-grow: 1;
  gap: 1rem;
}
.title-container .top-title .edit-btn {
  background-color: #5c00dc;
  color: white;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 0.4rem;
  min-width: 100px;
}
.title-container .top-title .edit-btn:hover {
  background: #4700a9;
  cursor: pointer;
}

.selection-header {
  margin: 2.4rem 0 2.4rem 0;
  gap: 2.4rem;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
}
.selection-header p {
  vertical-align: middle;
}

.steps-container {
  gap: 2.4rem;
}

.ind-step-container {
  gap: 0.8rem;
}
.ind-step-container header {
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #000000;
}
.ind-step-container header .light-text {
  color: #444444;
  font-weight: 400;
}

.step1 {
  padding: 1.6rem 2.4rem;
  gap: 3.2rem;
  flex-wrap: wrap;
}

.setting {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  gap: 0.4rem;
  width: 22.1rem;
}
.setting:hover {
  cursor: default;
}
.setting:hover header {
  color: #5c00dc;
}
.setting header {
  font-style: normal;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #222222;
}
.setting p {
  color: #222222;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.workflow-container {
  gap: 1.6rem;
  flex-wrap: wrap;
}

.workflow {
  display: flex;
  flex-direction: column;
  padding: 2.4rem 3.2rem;
  gap: 0.4rem;
  max-width: 34.1rem;
  min-height: 12.2rem;
  color: #222222;
  flex-grow: 1;
}
.workflow:hover {
  border-color: #5c00dc;
}
.workflow header {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-style: normal;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #222222;
}
.workflow header img {
  max-height: 1.6rem;
}
.workflow p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.add-workflow {
  padding: 2.4rem 3.2rem;
  gap: 0.4rem;
  width: 34.1rem;
  min-height: 12.2rem;
  margin-top: 0.8rem;
}
.add-workflow:hover {
  cursor: pointer;
  background-color: #e6e6e6;
  transform: scale(1.05);
  border-color: #5c00dc;
}
.add-workflow header,
.add-workflow img {
  background-color: transparent;
}
.add-workflow header:hover,
.add-workflow img:hover {
  cursor: pointer;
}

.portal {
  padding: 2.4rem 3.2rem;
  gap: 0.4rem;
  width: 34.1rem;
  height: 12.2rem;
  background: #ffffff;
}
.portal header {
  display: flex;
  gap: 0.8rem;
  font-style: normal;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #222222;
}

@media (width >= 1980px) {
  html {
    font-size: 15px;
  }
}
@media (width <= 770px) {
  .nav-container {
    left: -27.9rem;
    position: absolute;
  }
  .navOpen {
    transform: translateX(27.9rem);
  }
  .toggle-nav-btn {
    display: flex;
  }
  .toggle-nav-btn:hover {
    transform: scale(1.1);
  }
  .close-btn {
    display: flex;
  }
  .main-container {
    margin-left: 0;
    padding: 1.5rem 1.7rem;
  }
  .title-container .top-title {
    margin-left: 20vw;
  }
  .title-container .top-title .title-middle {
    flex-grow: 0;
  }
}
@media (width <= 515px) {
  html {
    font-size: 8px;
  }
  .close-btn {
    left: 23.5rem;
    top: 1.2rem;
    height: 30px;
    width: 30px;
  }
  .workflow,
  .add-workflow {
    width: 100%;
    max-width: 100%;
  }
  .title-container {
    max-width: 415px;
  }
  .title-container .top-title {
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .title-container .top-title .title-middle {
    flex-grow: 0;
    text-align: end;
  }
  .title-container .top-title .title-middle h1 {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=output.css.map */
