$primary: #5c00dc;
$primary-text: #222222;
$dark-text: #000000;
$secondary-text: #444444;
$sublist-text: #777777;
$border-color: #cccccc;
$input-bg: #f5f5f5;
$bg-color: #ffffff;

* {
  padding: 0;
  margin: 0;
  font-family: 'Inter';
  box-sizing: border-box;
  cursor: default;
  color: $primary-text;
}

html {
  height: 100%;
  width: 100vw;
  font-size: 10px;
  overflow-x: hidden;
}

a:-webkit-any-link {
  text-decoration: none;
  cursor: pointer;
}

.app-container {
  height: 100%;
  width: 100vw;
  overflow-y: scroll;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.just-center {
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.border {
  border: 1px solid $border-color;
  border-radius: 4px;
}

.nav-container {
  height: 100vh;
  position: fixed;
  background-color: white;
}

.active {
  background-color: lighten($primary, 53%);
  color: $primary;
}

.toggle-nav-btn {
  position: absolute;
  left: 29.5rem;
  top: 1.5rem;
  height: 35px;
  width: 35px;
  background: none;
  border: none;
  display: none;

  &:hover {
    cursor: pointer;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: transparent;

    &:hover {
      cursor: pointer;
    }
  }
}

.close-btn {
  position: absolute;
  border: none;
  left: 24rem;
  top: 1.5rem;
  height: 35px;
  width: 35px;
  color: $primary;
  font-size: 3rem;
  vertical-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 4px;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row-reverse;
  display: none;

  &:hover {
    cursor: pointer;
    background-color: $border-color;
    border: 1px solid $primary;
  }
}

nav {
  border-left: 0.1rem solid $border-color;
  border-right: 0.1rem solid $border-color;
  padding: 1.2rem 0.8rem 1.2rem 0.8rem;
  width: 21.5rem;

  h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: $dark-text;
    padding: 0.8rem 0.8rem 1.2rem 0.8rem;
  }

  h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 18px;
    padding: 0 0.8rem 1.2rem 0.8rem;
  }

  .search-container {
    padding: 0 0.8rem 1.2rem 0.8rem;

    img {
      position: relative;
      top: 2rem;
      left: 1rem;
    }
  }

  input {
    border-radius: 4px;
    background-color: $input-bg;
    padding: 0.4rem 0.4rem 0.4rem 3rem;
    border: none;
    width: 100%;

    &:focus {
      outline: none;
    }

    &:hover {
      background: darken(#f5f5f5, 5%);
    }
  }

  ul {
    width: 100%;
    list-style-position: inside;
    list-style-type: none;

    li {
      display: flex;
      align-items: center;
      height: 4rem;
      padding: 0.8rem 1.2rem;
      font-style: normal;
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 1.8rem;
      color: $sublist-text;
      border-radius: 8px;

      &:before {
        content: '•';
        font-size: 7rem;
        margin-right: 0.5rem;
        position: relative;
        bottom: 0.5rem;
      }

      &:hover {
        color: $primary;
        cursor: pointer;
        transform: scale(1.1);
      }
    }
    .sub-list {
      list-style-type: none;
      padding: 0.4rem 1.2rem 1.2rem 4.8rem;

      li {
        list-style-type: none;
        line-height: 1.4rem;
        padding: 0.8rem 0;
        height: 3rem;

        &:before {
          content: '';
          margin-right: 0.5rem;
        }
      }
    }
  }
}

.profile {
  padding: 1.2rem 0.8rem 1.2rem 0.8rem;
  align-items: center;
  width: 6.4rem;

  .event-img, svg {

    path, rect {
      &:hover {
        cursor: pointer;
      }
    }
    &:hover {
      transform: scale(1.15);
      cursor: pointer;
    }
  }

  div {
    align-items: center;
    gap: 1rem;

    .event-img {
      height: 3.2rem;
      width: 3.2rem;
      border-radius: 4px;
    }
  }

  .profile-img {
    height: 3.2rem;
    width: 3.2rem;
  }
}

.main-container {
  padding: 4rem 4.8rem;
  flex-grow: 1;
  margin-left: 29.4rem;
}

.title-container {
  border-bottom: 1px solid $border-color;

  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 2.9rem;
  }

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    margin-top: 1.6rem;
    margin-bottom: 3.4rem;
  }

  .top-title {
    gap: 1.6rem;
    margin-bottom: 4rem;

    img {
      width: 8.9rem;
      height: 8.9rem;
    }

    h1 {
      font-style: normal;
      font-weight: 600;
      font-size: 3.2rem;
      line-height: 3.9rem;
    }

    h3 {
      font-style: normal;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 1.9rem;
    }

    .title-middle {
      flex-grow: 1;
      gap: 1rem;
    }

    .edit-btn {
      background-color: $primary;
      color: white;
      padding: 0.8rem 1.6rem;
      border: none;
      border-radius: 0.4rem;
      min-width: 100px;

      &:hover {
        background: darken($primary, 10%);
        cursor: pointer;
      }
    }
  }
}

.selection-header {
  margin: 2.4rem 0 2.4rem 0;
  gap: 2.4rem;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;

  p {
    vertical-align: middle;
  }
}

.steps-container {
  gap: 2.4rem;
}

.ind-step-container {
  gap: 0.8rem;

  header {
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: $dark-text;

    .light-text {
      color: $secondary-text;
      font-weight: 400;
    }
  }
}

.step1 {
  padding: 1.6rem 2.4rem;
  gap: 3.2rem;
  flex-wrap: wrap;
}

.setting {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  gap: 0.4rem;
  width: 22.1rem;

  &:hover {
    header {
      color: $primary;
    }
    cursor: default;
  }

  header {
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.6rem;
    color: $primary-text;
  }

  p {
    color: $primary-text;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}

.workflow-container {
  gap: 1.6rem;
  flex-wrap: wrap;
}
.workflow {
  display: flex;
  flex-direction: column;
  padding: 2.4rem 3.2rem;
  gap: 0.4rem;
  max-width: 34.1rem;
  min-height: 12.2rem;
  color: $primary-text;
  flex-grow: 1;

  &:hover {
    border-color: $primary;
  }

  header {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.6rem;
    color: $primary-text;
    

    img {
      max-height: 1.6rem;
    }
  }

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

.add-workflow {
  padding: 2.4rem 3.2rem;
  gap: 0.4rem;
  width: 34.1rem;
  min-height: 12.2rem;
  margin-top: 0.8rem;

  &:hover {
    cursor: pointer;
    background-color: darken(white, 10%);
    transform: scale(1.05);
    border-color: $primary;
  }

  header,
  img {
    background-color: transparent;

    &:hover {
      cursor: pointer;
    }
  }
}

.portal {
  padding: 2.4rem 3.2rem;
  gap: 0.4rem;
  width: 34.1rem;
  height: 12.2rem;
  background: #ffffff;

  header {
    display: flex;
    gap: 0.8rem;
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.6rem;
    color: $primary-text;
  }
}

@media (width >= 1980px) {
  html {
    font-size: 15px;
  }
}

@media (width <= 770px) {
  .nav-container {
    left: -27.9rem;
    position: absolute;
  }

  .navOpen {
    transform: translateX(27.9rem);
  }

  .toggle-nav-btn {
    display: flex;

    &:hover {
      transform: scale(1.1);
    }
  }

  .close-btn {
    display: flex;
  }

  .main-container {
    margin-left: 0;
    padding: 1.5rem 1.7rem;
  }

  .title-container {
    .top-title {
      margin-left: 20vw;

      .title-middle {
        flex-grow: 0;
      }
    }
  }
}

@media (width <= 515px) {
  html {
    font-size: 8px;
  }

  .close-btn {
    left: 23.5rem;
    top: 1.2rem;
    height: 30px;
    width: 30px;
  }

  .workflow,
  .add-workflow {
    width: 100%;
    max-width: 100%;
  }

  .title-container {
    max-width: 415px;

    .top-title {
      font-size: 2rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;

      .title-middle {
        flex-grow: 0;
        text-align: end;

        h1 {
          font-size: 2rem;
        }
      }
    }
  }
}
